body {
    font-family: "Roboto", sans-serif;
}

.card-hover:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px -5px rgba(217, 125, 85, 0.2);
    transition: all 0.3s ease;
}

.sidebar-item.active {
    background-color: #D97D55;
    color: white;
}

.sidebar-item.active svg {
    color: white;
}


/* print pdf */
@media print {

    aside {
        display: none !important;
        position: static !important;
        width: 0 !important;
        height: 0 !important;
    }

    main {
        margin-left: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }

    header,
    nav,
    .print-hide,
    button {
        display: none !important;
    }

    body {
        display: block !important;
        background: white !important;
        color: black !important;
        font-size: 11pt !important;
    }

    * {
        box-shadow: none !important;
    }
}